In [2]:
import pandas as pd
from dataclasses import dataclass
import numpy as np


Numberhouse=14
allrecord=Allhourseholds()
allrecord.number=Numberhouse
@dataclass()
class Currenthouse:
    name:str

    reactive: []
    active: []
    time: []
        
class Allhourseholds():
    def __init__(self, number,house):
        self.number=number
        self.houses=house
    def Readfilesepare(self):
        
        data = pd.read_csv('profiles.csv', parse_dates=['t'])
        data_read=data.iloc[:,2:12]
        j=1;
        allrecord.houses=[ Currenthouse() for i in range(Numberhouse)]
        for i in range(data_read.shape[0]):
            # 15 means Numberhouse+1
            if (i+1)%15==0:
                for j in range(15):
                    if data_read.iloc[i+j,0]=='B1':
                        allrecord.houses[0].name='B1'
                        addhousele(data_read.iloc[i+j,:].tolist(),allrecord.houses[0])
                    elif data_read.iloc[i+j,0]=='B2':
                        allrecord.houses[1].name='B2'
                        addhousele(data_read.iloc[i+j,:].tolist(),allrecord.houses[1])
                    elif data_read.iloc[i+j,0]=='B3':
                        allrecord.houses[2].name='B3'
                        addhousele(data_read.iloc[i+j,:].tolist(),allrecord.houses[2])
                    elif data_read.iloc[i+j,0]=='B4':
                        allrecord.houses[3].name='B4'
                        addhousele(data_read.iloc[i+j,:].tolist(),allrecord.houses[3])
                    elif data_read.iloc[i+j,0]=='B5':
                        allrecord.houses[4].name='B5'
                        addhousele(data_read.iloc[i+j,:].tolist(),allrecord.houses[4])
                    elif data_read.iloc[i+j,0]=='B6':
                        allrecord.houses[5].name='B6'
                        addhousele(data_read.iloc[i+j,:].tolist(),allrecord.houses[5])
                    elif data_read.iloc[i+j,0]=='B7':
                        allrecord.houses[6].name='B7'
                        addhousele(data_read.iloc[i+j,:].tolist(),allrecord.houses[6])
                    elif data_read.iloc[i+j,0]=='B8':
                        allrecord.houses[7].name='B8'
                        addhousele(data_read.iloc[i+j,:].tolist(),allrecord.houses[7])
                    elif data_read.iloc[i+j,0]=='B9':
                        allrecord.houses[8].name='B9'
                        addhousele(data_read.iloc[i+j,:].tolist(),allrecord.houses[8])
                    elif data_read.iloc[i+j,0]=='B10':
                        allrecord.houses[9].name='B10'
                        addhousele(data_read.iloc[i+j,:].tolist(),allrecord.houses[9])
                    elif data_read.iloc[i+j,0]=='B11':
                        allrecord.houses[10].name='B11'
                        addhousele(data_read.iloc[i+j,:].tolist(),allrecord.houses[10])
                    elif data_read.iloc[i+j,0]=='B12':
                        allrecord.houses[11].name='B12'
                        addhousele(data_read.iloc[i+j,:].tolist(),allrecord.houses[11])
                    elif data_read.iloc[i+j,0]=='B13':
                        allrecord.houses[12].name='B13'
                        addhousele(data_read.iloc[i+j,:].tolist(),allrecord.houses[12])
                    elif data_read.iloc[i+j,0]=='B14':
                        allrecord.houses[13].name='B14'
                        addhousele(data_read.iloc[i+j,:].tolist(),allrecord.houses[13])
                    else:
                        allrecord.houses[14].name='HOF'
                        allrecord.houses.voltage=[data_read.iloc[i+j,1],data_read.iloc[i+j,4],data_read.iloc[i+j,7]]
                        
                
allrecord.houses=[ Currenthouse() for i in range(Numberhouse+1)]


def addhouesele(powerlist,one):
    
    
    size=powerlist.len()
    temp1P=[]
    temp2Q=[]


    
    if np.isnan(powerlist[5]):
        temp1P.append(powerlist[2])
        temp2Q.append(powerlist[3])
        one.active.apppend(powerlist[2])
        one.reactive.append(powerlist[3])
    else:
        temp1P=[powerlist[2],powerlist[5],powerlist[8]]
        temp2Q=[powerlist[3],powerlist[6],powerlist[9]]
       

        one.active.append(temp1P)
        one.reactive.append(temp2Q)

NameError: name 'Allhourseholds' is not defined

In [2]:
data.head()

,Unnamed: 0,t,ID,VA,PA,QA,VB,PB,QB,VC,PC,QC
0,0,2022-11-09 00:00:00+11:00,B1,NaN,0.110959,-0.077458,NaN,0.024256,-0.159802,NaN,0.035745,-0.031456
1,1,2022-11-09 00:00:00+11:00,B10,NaN,0.365875,-0.156021,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2022-11-09 00:00:00+11:00,B11,NaN,0.168433,0.042108,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2022-11-09 00:00:00+11:00,B12,NaN,0.091039,0.056335,NaN,0.009512,0.000000,NaN,0.000000,-0.059550
4,4,2022-11-09 00:00:00+11:00,B13,NaN,0.152391,-0.237474,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data_read=data.iloc[:,2:12]
data_read.head()

Numberhouse=14

In [50]:


print(data_read.shape[0])

print(data_read.iloc[0,:].tolist())
tp=data_read.iloc[1,:].tolist()
print(np.isnan(tp[5]))
print(tp[6:9])

4005
['B1', nan, 0.1109592, -0.0774576, nan, 0.0242556, -0.1598016, nan, 0.035745, -0.0314556]
True
[nan, nan, nan]

In [12]:
data_onehouse=data_read.iloc[0:Numberhouse+1,:]
print(data_onehouse)

     ID      VA        PA        QA      VB        PB        QB      VC  \
0    B1     NaN  0.110959 -0.077458     NaN  0.024256 -0.159802     NaN
1   B10     NaN  0.365875 -0.156021     NaN       NaN       NaN     NaN
2   B11     NaN  0.168433  0.042108     NaN       NaN       NaN     NaN
3   B12     NaN  0.091039  0.056335     NaN  0.009512  0.000000     NaN
4   B13     NaN  0.152391 -0.237474     NaN       NaN       NaN     NaN
5   B14     NaN  0.229566  0.090687     NaN       NaN       NaN     NaN
6    B2     NaN  0.195061  0.130990     NaN       NaN       NaN     NaN
7    B3     NaN  0.049266 -0.100436     NaN  0.034777 -0.123864     NaN
8    B4     NaN  0.040426 -0.171216     NaN       NaN       NaN     NaN
9    B5     NaN  0.409855 -0.296808     NaN       NaN       NaN     NaN
10   B6     NaN  0.368784  0.000000     NaN       NaN       NaN     NaN
11   B7     NaN  0.011890  0.000000     NaN  0.006429 -0.006905     NaN
12   B8     NaN  0.039799 -0.360325     NaN       NaN       NaN     NaN
13   B9     NaN  0.000000 -0.059525     NaN  0.007131  0.000000     NaN
14  HOF  238.07       NaN       NaN  237.99       NaN       NaN  237.64

          PC        QC
0   0.035745 -0.031456
1        NaN       NaN
2        NaN       NaN
3   0.000000 -0.059550
4        NaN       NaN
5        NaN       NaN
6        NaN       NaN
7   0.287859  0.000000
8        NaN       NaN
9        NaN       NaN
10       NaN       NaN
11  0.364897  0.176640
12       NaN       NaN
13  0.055054 -0.189128
14       NaN       NaN

In [37]:
a_2d = np.arange(12).reshape((3, 4))

a_2d=np.empty(60000)
# print(a_2d[0:3,0]==0.0)
print()
print(a_2d.shape[0])

60000

In [13]:
x = np.array([1, 2, 3, 4])

print(x.shape[0])

4

In [54]:
import schedule
import time 
# def greet(name):
#     print('Hello', name)

# schedule.every(2).seconds.do(greet, name='Alice')
# schedule.every(4).seconds.do(greet, name='Bob')

from schedule import every, repeat

@repeat(every(10).seconds, "World")
@repeat(every(1).day, "Mars")
def hello(planet):
    print("Hello", planet)
    
schedule.run_pending()

schedule.clear()

Hello World

In [59]:
class Point:
    """ Point class for representing and manipulating x,y coordinates. """

    def __init__(self, initX, initY):

        self.x = initX
        self.y = initY
        
class Cpoint:
    def __init__(self):
        self.uni=[Point("B{0}".format(i+1),"x") for i in range(10)]
thisone=Cpoint()


print([thisone.uni[i].x for i in range(len(thisone.uni))] )

['B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B8', 'B9', 'B10']

In [9]:
# tear=[1,2, 3,4,66 ,44,77,4,66,4,4,4,6,4,4,4,]
# te=tear[0:3]+tear[4:5]
# print( tear[0:3,4:5])

TypeError: list indices must be integers or slices, not tuple

In [39]:
with open('/Users/olivia/Downloads/Optestfile.txt', 'r') as file:
    
    lines = file.readline()
    i=1
    
    
    fe=first.split(",")
    chun=fe[0:42]
    chun=[float(chun[i]) for i in range(len(chun))]
    print(len(fe))
    print(chun )

43
[-0.002, 0.001, 0.007, 0.0, -0.003, 0.008, -0.004, 0.003, -0.011, -0.001, -0.004, -0.006, -0.007, 0.012, 0.018, 0.001, -0.011, 0.002, -0.007, -0.006, -0.007, -0.004, 0.006, -0.0, -0.003, -0.007, 0.004, 0.001, 38.711, 0.324, 39.096, 0.328, 15.683, 15.707, 39.023, 0.0, 39.071, 16.22, 15.708, 39.24, 0.281, 0.333]

In [58]:

def LoadStream(index):
    with open('newopfile.txt', 'r') as file:
        
        i=0;

        while True:
            
            line = file.readline()
            if i==index:
                
                fe = line.split(",")
                chun = fe[0:42]
                chun = [float(chun[i]) for i in range(len(chun))]
                break
            elif not lines:
                break
            
            i=i+1;
            
        
        
        return chun

In [59]:
print(LoadStream(0))

[-0.002, 0.001, 0.007, 0.0, -0.003, 0.008, -0.004, 0.003, -0.011, -0.001, -0.004, -0.006, -0.007, 0.012, 0.018, 0.001, -0.011, 0.002, -0.007, -0.006, -0.007, -0.004, 0.006, -0.0, -0.003, -0.007, 0.004, 0.001, 38.711, 0.324, 39.096, 0.328, 15.683, 15.707, 39.023, 0.0, 39.071, 16.22, 15.708, 39.24, 0.281, 0.333]

In [61]:
print(LoadStream(1))

[0.999, -0.322, 0.199, 0.131, 0.362, -0.21, 0.038, -0.171, 0.44, -0.237, 0.363, 0.0, 0.356, 0.156, 0.055, -0.361, 0.44, -0.137, 0.357, 0.0, 0.356, 0.031, 0.084, -0.015, 0.152, -0.238, 0.091, 0.09, 225.924, 226.393, 226.902, 225.978, 226.23, 226.149, 226.307, 225.752, 226.851, 225.628, 224.295, 226.859, 226.409, 225.972]